* {
    color: white;
}
body {
    background-color: #BC3428;
}

nav {
    display: grid;
    grid-template-columns: 1.25fr repeat(6,1fr);
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #D33A2C;
}
.nav-blocks {
    border: 1px solid black;
    height: 125px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.second-section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 1000px;
}
.latest {
    position: absolute;
    top: 5px;
    text-align: center;
    right: calc(50% - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.latest p {
    display: inline-block;
    background-color: darkred;
    padding: 3px;
}
.second-blocks {
    color: rgb(119, 51, 44);
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
}
.second-blocks p {
    text-align: center;
}